<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="css/createAccount.css" rel="stylesheet" />
   <link href="css/login.css" rel="stylesheet" />
   <title>Edit Donation</title>
</head>
<body>
   <form action="/donateEdit" method="POST">
     <fieldset style="width: 0px;">
       <legend>Edit a Donation:</legend>
       <input type="hidden" id="item_title" name="item_title" value="<%=myitems[0].item_title %>">
       <label for="description">Description:</label>
       <input type="text" id="description" name="description" value="<%=myitems[0].description %>">
       <br><br>
       <label for="category">Category:</label>
       <input type="text" id="category" name="category" value="<%=myitems[0].category %>">
       <br><br>
       <label for="quantity">Quantity:</label>
       <input type="text" id="quantity" name="quantity" value="<%=myitems[0].quantity %>">
       <br><br>
     </fieldset>
     <button type="submit">Save</button>
   </form>
</body>
</html>